html {
    position: relative;
    scroll-behavior: smooth;
    min-width: 320px;
}

body {
    background-color: grey;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.singolo {
    margin: 0 auto;
    max-width: 1020px;
    box-shadow: indigo;
}

.home {
    height: 89px;
    width: 100%;
    max-width: 1020px;
    background-color: #2d303a;
    display: flex;
    position: fixed;
    z-index: 50;
}

.logo {
    text-transform: uppercase;
    font-size: 25px;
    color: #fff;
    letter-spacing: -0.5px;
    font-weight: 550;
    margin: 28px 0 41px 40px;
}

#navi {
    display: flex;
    color: white;
    position: absolute;
    top: 25px;
    right: 40px;
}

#navi li {
    margin-left: 29px;
    font-size: 12px;
    color: #494e62;
}

#navi li a {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
}

#navi li a:hover {
    color: #f06c64;
}

#navi :first-child {
    list-style-type: none;
}

.active {
    color: #f06c64 !important;
}

#burger-menu__button {
    position: fixed;
    top: 24px;
    left: 10px;
    z-index: 55;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2d303a;
    display: none;
}

.burger-menu__lines,
.burger-menu__lines::after,
.burger-menu__lines::before {
    position: absolute;
    width: 25px;
    height: 2.5px;
    background-color: #ffff;
}

.burger-menu__lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.burger-menu__lines::before {
    content: '';
    top: -6px;
}

.burger-menu__lines::after {
    content: '';
    top: 6px;
}

.burger-menu__active .burger-menu__lines {
    left: 7px;
    transform: rotate(90deg);
    transition: 0.3s;
}

.burger-menu__nav {
    width: 278px;
    position: fixed;
    z-index: 40;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #2d303a;
    overflow-y: auto;
    left: -100%;
    transition: 0.5s;
}

.burger-nav__active {
    left: 0;
    transition: 0.3s;
}

.burger-logo {
    text-transform: uppercase;
    font-size: 25px;
    color: #fff;
    letter-spacing: -0.5px;
    font-weight: 550;
    margin: 30px 0 220px 70px;
}

.burger-menu__link {
    padding: 0px 0px 27px 71px;
    text-transform: uppercase;
    color: #ffff;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bolder;
}

.burger-menu__link:hover {
    color: #f06c64;
}

.burger-menu__overlay {
    display: none;
    position: fixed;
    top: 0;
    width: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: #0008;
}

.overlay-active {
    display: block;
}

.second-slide {
    width: 100%;
    height: auto;
}

.header-bottom {
    height: 6px;
    max-width: 1020px;
    background-color: #323746;
    padding-top: 89px;
}

.slider-wrap {
    position: relative;
    height: 594px;
    background-color: #f06c64;
}

.slider {
    position: relative;
    overflow: hidden;
}

.opacity {
    position: absolute;
    opacity: 1;
    transition: all 500ms ease 0ms;
}

.none-opacity {
    opacity: 0;
    left: 1020px;
    transition: all 500ms ease 0ms;
}

.arrow-left {
    position: absolute;
    top: 281px;
    left: 42px;
    cursor: pointer;
}

.arrow-right {
    position: absolute;
    top: 281px;
    right: 40px;
    cursor: pointer;
}

.arrow-left:hover {
    width: 20px;
    height: 30px;
}

.arrow-right:hover {
    width: 20px;
    height: 30px;
}

#phone-vertical {
    position: absolute;
    top: 53px;
    left: 112px;
}

#off-vertical {
    position: absolute;
    top: 115px;
    left: 123px;
}

#phone-horizontal {
    position: absolute;
    top: 174px;
    right: 111px;
}

#off-horizontal {
    position: absolute;
    top: 185px;
    left: 483px;
}

.switch {
    display: none;
}

.slider-bottom {
    height: 6px;
    max-width: 1020px;
    background-color: #ea676b;
}

.services {
    height: 494px;
    background-color: #f2f2f2;
}

.our-services {
    padding: 40px;
}

.info-top {
    color: #666d89;
}

.info-top h2 {
    font-family: "Lato-Black", sans-serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: -1px;
    margin: 23px 0 13px 0;
}

.info-top p {
    color: #767e9e;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.666;
    margin-bottom: 7px;
}

.info-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*
.info-wrap {
    margin: 0 auto;
}
*/

.first-colum {
    display: flex;
    padding-left: 1px;
}

.second-colum {
    display: flex;
    margin-left: 20px;
}

.third-colum {
    display: flex;
    margin-left: 21px;
}

.info-image {
    width: 59px;
    height: 59px;
    margin-top: 40px;
}

.info-picture {
    width: 59px;
    height: 59px;
    margin-top: 64px;
}

.info-text {
    display: block;
    max-width: 220px;
    margin-left: 20px;
}

.first-line {
    padding-top: 20px;
}


/*
.second-line {
    padding-top: 45px;
}
*/

.info-text {
    max-width: 220px;
    max-height: 63px;
}

.info-text h3 {
    color: #666d89;
    font-family: "Lato-Black", sans-serif;
    font-size: 18px;
    margin-bottom: 9px;
    letter-spacing: -0.5px;
    line-height: 1;
}

.info-text p {
    color: #767e9e;
    font-size: 12px;
    line-height: 1.79;
}

.word-spacing {
    word-spacing: 5px;
}

.info-line {
    display: flex;
}

.info-bottom :first-child {
    margin-left: 0;
}

.content-bottom {
    height: 6px;
    max-width: 1020px;
    background-color: #ffffff;
}

.portfolio {
    height: auto;
    background-color: #2d303a;
}

#portfolio-navi {
    color: #666d89;
    padding: 58px 40px 20px 40px;
}

#portfolio-navi h1 {
    margin: 0 0 17px 0;
}

#portfolio-navi p {
    margin: 0 0 10px 0;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

#portfolio-navi a {
    background-color: #2d303a;
    border-radius: 5px;
    font-family: Lato;
    font-size: 12px;
    font-weight: 500;
    line-height: 21.56px;
    margin-right: 10px;
    cursor: pointer;
}

#portfolio-navi .active-button {
    color: #c5c5c5;
    border-color: #c5c5c5;
}

.all {
    padding: 2px 6px 3px 7px;
    margin-left: 1px;
    border: solid #666d89 1px;
    color: #666d89;
}

.web-design {
    padding: 2px 6px 3px 6px;
    margin-left: -3px;
    border: solid #666d89 1px;
    color: #6e7593;
}

.graphic-design {
    padding: 2px 5px 3px 6px;
    margin-left: -3px;
    border: solid #666d89 1px;
    color: #6e7593;
}

.artwork {
    padding: 2px 5px 3px 5px;
    margin-left: -3px;
    border: solid #666d89 1px;
    color: #6e7593;
}

.portfolio-pictures {
    padding: 0 0 0 40px;
}

.pictures-border {
    outline: solid #F06C64 5px;
    outline-offset: -5px;
}

#colums {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#colums img {
    margin: 5px;
    max-width: 220px;
    width: 100%;
    max-height: 187px;
    height: 100%;
}

.portfolio-bottom {
    height: 6px;
    background-color: #323746;
}

.about {
    height: auto;
    background-color: #f2f2f2;
}

.staff {
    padding: 37px 40px 50px 39px;
}

.staff h1 {
    color: #666d89;
    margin-bottom: 18px;
}

.staff p {
    color: #767e9e;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 160%;
    margin: 16px 0 0 0;
}

.staff-colums {
    margin-top: 47px;
    display: flex;
}

.colum-staff {
    margin-right: 19px;
}

.colum-staff .face {
    max-width: 300px;
    width: 100%;
    max-height: 300px;
    height: auto;
}

.staff-info h3 {
    margin: 11px 0 8px 0;
    color: #666d89;
}

.staff-info p {
    font-family: Lato;
    color: #767e9e;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    margin: 0;
}

.last-colum {
    padding-left: 2px;
}

.social {
    margin: 25px 0 0 2px;
}

.corrector {
    margin-left: 1px;
}

.social-last {
    margin: 25px 0 0 0;
}

.social img {
    margin-right: 5px;
}

.social-last img {
    margin-right: 5px;
}

.social img:hover {
    cursor: pointer;
}

.social-last img:hover {
    cursor: pointer;
}

.about-us-bottom {
    height: 6px;
    background-color: #ffffff;
}

.contact {
    height: auto;
    background-color: #f06c64;
}

.get-quote-content {
    padding: 58px 25px 0 40px;
}

.contact h1 {
    margin: 0 0 20px 0;
    color: #f0d8d9;
    font-size: 1.9em;
}

.get-text {
    color: #f0d8d9;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.form-area {
    display: flex;
    margin-top: 43px;
}

.form {
    max-width: 64.5%;
}

.form input {
    width: 100%;
    height: 36px;
    background-color: #d6564f;
    color: #f0d8d9;
    margin-bottom: 16px;
    border-radius: 5px;
    border: none;
}

::placeholder {
    color: #f08586;
    font-size: 11px;
    padding-left: 15px;
}

textarea::-webkit-input-placeholder {
    color: #f08586;
    padding: 9px 0 0 13px;
    letter-spacing: 0.1px;
}

.form textarea {
    overflow: hidden;
    width: 100%;
    height: 198px;
    background-color: #d6564f;
    color: #f0d8d9;
    border-radius: 5px;
    border: none;
    resize: none;
}

.form-colum {
    width: 35.5%;
    margin: -2px 0 0 21px;
}

.form-colum h4 {
    margin: 0;
    color: #f0d8d9;
    font-size: 1.1em;
}

.form-info {
    width: 301px;
    height: 162px;
}

.form-text {
    color: #f0d8d9;
    font-family: Lato;
    font-size: 11px;
    margin-top: 9px;
    line-height: 200%;
}

#message-block {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #0008;
}

#message-block.popup-hidden {
    display: none;
}

#popup-message {
    position: fixed;
    top: 40%;
    left: 40%;
    padding: 25px;
    background-color: black;
    border: solid #d6564f 3px;
    border-radius: 15px;
    text-align: center;
    color: white;
}

.info-location {
    margin: 20px 0 0 3px;
}

.location-text {
    margin-left: 13px;
    color: #f0d8d9;
    font-size: 11px;
}

.get-quote-bottom {
    height: 6px;
    background-color: #ea676b
}

.phone-location {
    margin: 2px 0 0 -2px;
}

.mail-location {
    margin: 3px 0 0 -3px;
}

.footer {
    position: relative;
    display: flex;
    height: 76px;
    background-color: #2d303a;
    justify-content: space-between;
}

.footer-info {
    position: relative;
    color: #666d89;
    font-size: 12px;
    font-weight: lighter;
    top: 18px;
    left: 42px;
}

.footer-social {
    position: relative;
    top: 22px;
    right: 40px;
}

.footer-social img {
    margin-left: 5px;
}

.footer-social img:hover {
    cursor: pointer;
}

#submit-btn {
    width: 136px;
    height: 38px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #FBC65F;
    border: solid #FBC65F 1px;
    border-radius: 5px;
    cursor: pointer;
}


/*768px <= width < 1020px*/

@media all and (max-width: 1020px) {
    .slider-wrap {
        height: 447px;
    }
    .services {
        height: 630px;
    }
    #phone-vertical {
        top: 41px;
        left: 72px;
        max-width: 181px;
        max-height: 364px;
    }
    #off-vertical {
        display: none;
    }
    #phone-horizontal {
        top: 134px;
        right: 84px;
        max-width: 364px;
        max-height: 181px;
    }
    #off-horizontal {
        display: none;
    }
    .arrow-left {
        top: 212px;
        left: 29px;
    }
    .arrow-right {
        top: 212px;
        right: 29px;
    }
    .info-line {
        margin-top: 30px;
    }
    .second-colum {
        margin-left: 60px;
    }
    .respons-correct {
        margin-top: -15px;
    }
}


/*375px <= width < 768px*/

@media all and (max-width: 767px) {
    .slider-wrap {
        height: 218px;
    }
    #phone-vertical {
        top: 20px;
        left: 41px;
        max-width: 88px;
        max-height: 178px;
    }
    #phone-horizontal {
        top: 65px;
        right: 42px;
        max-width: 178px;
        max-height: 88px;
    }
    .arrow-left {
        top: 98px;
        left: 10px;
    }
    .arrow-right {
        top: 98px;
        right: 10px;
    }
    .services {
        height: auto;
    }
    .info-line {
        padding-top: 20px;
    }
    .second-colum {
        margin-left: 0;
    }
    .respons-correct {
        margin-top: 0;
    }
}

@media all and (max-width: 580px) {
    #navi {
        display: none;
    }
    .logo {
        margin: 28px auto;
    }
    #burger-menu__button {
        display: block;
    }
    #colums img {
        width: 151px;
        height: 128px;
    }
    #portfolio-navi {
        padding-right: 0;
    }
}


/*width < 375px*/

@media all and (max-width: 375px) {
    .portfolio {
        height: 780px;
        overflow: hidden;
    }
    #colums img {
        width: 151px;
        height: 128px;
    }
    .portfolio-pictures {
        padding-left: 20px;
        overflow: hidden;
    }
    #portfolio-navi {
        padding-right: 0;
    }
    .staff-colums {
        display: block;
    }
    .colum-staff {
        margin-bottom: 30px;
    }
    .form-area {
        flex-direction: column;
        justify-content: center;
    }
    .form {
        max-width: 100%;
    }
    #submit-btn {
        width: 100%;
    }
    .form-colum {
        width: 100%;
        margin: 20px auto;
    }
    .footer-info {
        display: none;
    }
    .footer {
        justify-content: center;
    }
    .footer-social {
        top: 0;
        right: 0;
        margin-top: 20px;
    }
}