html {
    scroll-behavior: smooth;
}

body {
    background-color: grey;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.singolo {
    margin: 0 auto;
    max-width: 1020px;
    box-shadow: indigo;
}

.home {
    height: 89px;
    background-color: #2d303a;
}

.fix-menu {
    height: 89px;
    width: 1020px;
    background-color: #2d303a;
    display: flex;
    position: fixed;
    z-index: 50;
}

.logo {
    text-transform: uppercase;
    font-size: 25px;
    color: #fff;
    letter-spacing: -0.5px;
    font-weight: 550;
    margin: 28px 0 41px 40px;
}

#navi {
    display: flex;
    color: white;
    position: absolute;
    top: 25px;
    right: 40px;
}

#navi li {
    margin-left: 29px;
    font-size: 12px;
    color: #494e62;
}

#navi li a {
    cursor: pointer;
    color: #ffffff;
}

#navi li a:hover {
    color: #f06c64;
}

#navi :first-child {
    list-style-type: none;
}

.active {
    color: #f06c64 !important;
}

.header-bottom {
    height: 6px;
    width: 1020px;
    background-color: #323746;
}

.slider-wrap {
    position: relative;
    height: 594px;
}

.slider {
    position: relative;
    height: 594px;
    overflow: hidden;
}

.opacity {
    position: absolute;
    opacity: 1;
    transition: all 500ms ease 0ms;
}

.none-opacity {
    opacity: 0;
    left: 1020px;
    transition: all 500ms ease 0ms;
}

.arrow-left {
    position: absolute;
    top: 281px;
    left: 42px;
    cursor: pointer;
}

.arrow-right {
    position: absolute;
    top: 281px;
    right: 40px;
    cursor: pointer;
}

.arrow-left:hover {
    width: 20px;
    height: 30px;
}

.arrow-right:hover {
    width: 20px;
    height: 30px;
}

.slide-background {
    position: absolute;
    top: 0;
    left: 0;
}

#phone-vertical {
    position: absolute;
    top: 53px;
    left: 112px;
}

#off-vertical {
    position: absolute;
    top: 115px;
    left: 123px;
}

#phone-horizontal {
    position: absolute;
    top: 174px;
    left: 425px;
}

#off-horizontal {
    position: absolute;
    top: 185px;
    left: 483px;
}

.switch {
    display: none;
}

.slider-bottom {
    height: 6px;
    width: 1020px;
    background-color: #ea676b;
}

.services {
    height: 494px;
    background-color: #f2f2f2;
}

.our-services {
    padding: 40px;
}

.info-top {
    color: #666d89;
}

.info-top h2 {
    font-family: "Lato-Black", sans-serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: -1px;
    margin: 23px 0 13px 0;
}

.info-top p {
    color: #767e9e;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.666;
    margin-bottom: 7px;
}

.info-bottom {
    display: flex;
}

.first-colum {
    display: flex;
    padding-left: 1px;
}

.second-colum {
    display: flex;
    margin-left: 20px;
}

.third-colum {
    display: flex;
    margin-left: 21px;
}

.info-image {
    width: 59px;
    height: 59px;
    margin-top: 40px;
}

.info-picture {
    width: 59px;
    height: 59px;
    margin-top: 64px;
}

.info-text {
    display: block;
    max-width: 220px;
    margin-left: 20px;
}

.first-line {
    padding-top: 20px;
}

.second-line {
    padding-top: 45px;
}

.info-text {
    max-width: 220px;
    max-height: 63px;
}

.info-text h3 {
    color: #666d89;
    font-family: "Lato-Black", sans-serif;
    font-size: 18px;
    margin-bottom: 9px;
    letter-spacing: -0.5px;
    line-height: 1;
}

.info-text p {
    color: #767e9e;
    font-size: 12px;
    line-height: 1.79;
}

.word-spacing {
    word-spacing: 5px;
}

.info-line {
    display: flex;
}

.info-bottom :first-child {
    margin-left: 0;
}

.content-bottom {
    height: 6px;
    width: 1020px;
    background-color: #ffffff;
}

.portfolio {
    height: 864px;
    background-color: #2d303a;
}

#portfolio-navi {
    color: #666d89;
    padding: 58px 40px 20px 40px;
}

#portfolio-navi h1 {
    margin: 0 0 17px 0;
}

#portfolio-navi p {
    margin: 0 0 10px 0;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

#portfolio-navi a {
    background-color: #2d303a;
    border-radius: 5px;
    font-family: Lato;
    font-size: 12px;
    font-weight: 500;
    line-height: 21.56px;
    margin-right: 10px;
    cursor: pointer;
}

#portfolio-navi .active-button {
    color: #c5c5c5;
    border-color: #c5c5c5;
}

.all {
    padding: 2px 6px 3px 7px;
    margin-left: 1px;
    border: solid #666d89 1px;
    color: #666d89;
}

.web-design {
    padding: 2px 6px 3px 6px;
    margin-left: -3px;
    border: solid #666d89 1px;
    color: #6e7593;
}

.graphic-design {
    padding: 2px 5px 3px 6px;
    margin-left: -3px;
    border: solid #666d89 1px;
    color: #6e7593;
}

.artwork {
    padding: 2px 5px 3px 5px;
    margin-left: -3px;
    border: solid #666d89 1px;
    color: #6e7593;
}

.portfolio-pictures {
    padding: 0 20px 0 40px;
}

.pictures-border {
    outline: solid #F06C64 5px;
    outline-offset: -5px;
}

#colums {
    display: flex;
}

#colums img {
    margin-bottom: 17px;
}

.portfolio-bottom {
    height: 6px;
    background-color: #323746;
}

.about {
    height: 728px;
    background-color: #f2f2f2;
}

.staff {
    padding: 37px 40px 50px 39px;
}

.staff h1 {
    color: #666d89;
    margin-bottom: 18px;
}

.staff p {
    color: #767e9e;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 160%;
    margin: 16px 0 0 0;
}

.staff-colums {
    margin-top: 47px;
    display: flex;
}

.colum-staff {
    margin-right: 19px;
}

.staff-info h3 {
    margin: 11px 0 8px 0;
    color: #666d89;
}

.staff-info p {
    font-family: Lato;
    color: #767e9e;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    margin: 0;
}

.last-colum {
    padding-left: 2px;
}

.social {
    margin: 25px 0 0 2px;
}

.corrector {
    margin-left: 1px;
}

.social-last {
    margin: 25px 0 0 0;
}

.social img {
    margin-right: 5px;
}

.social-last img {
    margin-right: 5px;
}

.social img:hover {
    cursor: pointer;
}

.social-last img:hover {
    cursor: pointer;
}

.about-us-bottom {
    height: 6px;
    background-color: #ffffff;
}

.contact {
    height: 648px;
    background-color: #f06c64;
}

.get-quote-content {
    padding: 58px 25px 0 40px;
}

.contact h1 {
    margin: 0 0 20px 0;
    color: #f0d8d9;
    font-size: 1.9em;
}

.get-text {
    color: #f0d8d9;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.form-area {
    display: flex;
    margin-top: 43px;
}

.form {
    width: 650px;
}

.form input {
    width: 619px;
    height: 36px;
    background-color: #d6564f;
    color: #f0d8d9;
    margin-bottom: 16px;
    border-radius: 5px;
    border: none;
}

::placeholder {
    color: #f08586;
    font-size: 11px;
    padding-left: 15px;
}

textarea::-webkit-input-placeholder {
    color: #f08586;
    padding: 9px 0 0 13px;
    letter-spacing: 0.1px;
}

.form textarea {
    overflow: hidden;
    width: 615px;
    height: 198px;
    background-color: #d6564f;
    color: #f0d8d9;
    border-radius: 5px;
    border: none;
    resize: none;
}

.form-colum {
    margin: -2px 0 0 21px;
}

.form-colum h4 {
    margin: 0;
    color: #f0d8d9;
    font-size: 1.1em;
}

.form-info {
    width: 301px;
    height: 162px;
}

.form-text {
    color: #f0d8d9;
    font-family: Lato;
    font-size: 11px;
    margin-top: 9px;
    line-height: 200%;
}

#message-block {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #0008;
}

#message-block.popup-hidden {
    display: none;
}

#popup-message {
    position: fixed;
    top: 40%;
    left: 40%;
    padding: 25px;
    background-color: black;
    border: solid #d6564f 3px;
    border-radius: 15px;
    text-align: center;
    color: white;
}

.info-location {
    margin: 20px 0 0 3px;
}

.location-text {
    margin-left: 13px;
    color: #f0d8d9;
    font-size: 11px;
}

.get-quote-bottom {
    height: 6px;
    background-color: #ea676b
}

.phone-location {
    margin: 2px 0 0 -2px;
}

.mail-location {
    margin: 3px 0 0 -3px;
}

.footer {
    position: relative;
    display: flex;
    height: 76px;
    background-color: #2d303a;
    justify-content: space-between;
}

.footer-info {
    position: relative;
    color: #666d89;
    font-size: 12px;
    font-weight: lighter;
    top: 18px;
    left: 42px;
}

.footer-social {
    position: relative;
    top: 22px;
    right: 40px;
}

.footer-social img {
    margin-left: 5px;
}

.footer-social img:hover {
    cursor: pointer;
}